<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "index.css">
    <title>Layout</title>
</head>
<body>

<form class="main-form"> <h2 class="main-text"><span class="txt">Any text</span></h2>
    <div class="main-div">
        <input type="text" class="first-input" placeholder="some text" > - <input type="text" class="second-input" placeholder="some text">
        <div class="first-day">
            <label class="days">
                <span class="monday">M</span>
                <input type="checkbox" class="checkbox"/>
                <span class="fake"></span>
            </label>
        </div>
        <div class="other-days">
            <label class="days">
                <span class="tuesday">T</span>
                <input type="checkbox" class="checkbox"/>
                <span class="fake"></span>
            </label>
        </div>
        <div class="other-days">
            <label class="days">
                <span class="wednesday">W</span>
                <input type="checkbox" class="checkbox"/>
                <span class="fake"></span>
            </label>
        </div>
        <div class="other-days">
            <label class="days">
                <span class="thursday">T</span>
                <input type="checkbox" class="checkbox"/>
                <span class="fake"></span>
            </label>
        </div>
        <div class="other-days">
            <label class="days">
                <span class="friday">F</span>
                <input type="checkbox" class="checkbox"/>
                <span class="fake"></span>
            </label>
        </div>
        <div class="other-days">
            <label class="days">
                <span class="saturday">S</span>
                <input type="checkbox" class="checkbox"/>
                <span class="fake"></span>
            </label>
        </div>
        <label class="days">
            <span class="sunday">S</span>
            <input type="checkbox" class="checkbox"/>
            <span class="fake"></span>
        </label>
    </div> 
    <div class="main-div">
        <input type="text" class="first-input" placeholder="some text" > - <input type="text" class="second-input" placeholder="some text">
        <div class="first-day">
            <label class="days">
                <span class="monday">M</span>
                <input type="checkbox" class="checkbox"/>
                <span class="fake"></span>
            </label>
        </div>
        <div class="other-days">
            <label class="days">
                <span class="tuesday">T</span>
                <input type="checkbox" class="checkbox"/>
                <span class="fake"></span>
            </label>
        </div>
        <div class="other-days">
            <label class="days">
                <span class="wednesday">W</span>
                <input type="checkbox" class="checkbox"/>
                <span class="fake"></span>
            </label>
        </div>
        <div class="other-days">
            <label class="days">
                <span class="thursday">T</span>
                <input type="checkbox" class="checkbox"/>
                <span class="fake"></span>
            </label>
        </div>
        <div class="other-days">
            <label class="days">
                <span class="friday">F</span>
                <input type="checkbox" class="checkbox"/>
                <span class="fake"></span>
            </label>
        </div>
        <div class="other-days">
            <label class="days">
                <span class="saturday">S</span>
                <input type="checkbox" class="checkbox"/>
                <span class="fake"></span>
            </label>
        </div>
        <label class="days">
            <span class="sunday">S</span>
            <input type="checkbox" class="checkbox"/>
            <span class="fake"></span>
        </label>
    </div> 
    <button class="but">Submit</button>   
</form>

</body>
</html>