<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel = "stylesheet" href = "index.css">
    <title>Layout</title>
</head>
<body>

<form class="main-form"> <h2 class="main-text"><span class="txt">Schedule</span></h2>
    <div class="main-div" id="row_0">
        <span id="name">Add item</span>
        <button id="but1" onclick="return false"><img src="src/add.png" width="20px" height="20px"></button>
        <input type="text" class="first-input" placeholder="Input the time" onchange="checkInputs(this)" value="">
            -
        &nbsp;<input type="text" class="second-input" placeholder="Input the time" onchange="checkInputs(this)" value="">

        <div class="other-days">
            <label class="days">
                <span class="monday">M</span>
                <input type="checkbox" class="checkbox" name="values" value="0" onchange="refreshDisabledStates(this)"/>
                <span class="fake"></span>
            </label>
        </div>
        <div class="other-days">
            <label class="days">
                <span class="tuesday">T</span>
                <input type="checkbox" class="checkbox" name="values" value="1" onchange="refreshDisabledStates(this)"/>
                <span class="fake"></span>
            </label>
        </div>
        <div class="other-days">
            <label class="days">
                <span class="wednesday">W</span>
                <input type="checkbox" class="checkbox" name="values" value="2" onchange="refreshDisabledStates(this)"/>
                <span class="fake"></span>
            </label>
        </div>
        <div class="other-days">
            <label class="days">
                <span class="thursday">T</span>
                <input type="checkbox" class="checkbox" name="values" value="3" onchange="refreshDisabledStates(this)"/>
                <span class="fake"></span>
            </label>
        </div>
        <div class="other-days">
            <label class="days">
                <span class="friday">F</span>
                <input type="checkbox" class="checkbox" name="values" value="4" onchange="refreshDisabledStates(this)"/>
                <span class="fake"></span>
            </label>
        </div>
        <div class="other-days">
            <label class="days">
                <span class="saturday">S</span>
                <input type="checkbox" class="checkbox" name="values" value="5" onchange="refreshDisabledStates(this)"/>
                <span class="fake"></span>
            </label>
        </div>
        <label class="days">
            <span class="sunday">S</span>
            <input type="checkbox" class="checkbox" name="values" value="6" onchange="refreshDisabledStates(this)"/>
            <span class="fake"></span>
        </label>
        <div class="error">Erorr, please input the correct value!</div>
    </div> 

    <div class="others"></div>
    
    <button id = "but" onclick="return false">Submit</button>  
    <div id="result"></div>
</form>

<script src="index.js"></script>
</body>
</html>
