<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "index.css">
    <title>Layout</title>
</head>
<body>

<form class="main-form"> <h2 class="main-text"><span class="txt">Any text</span></h2>
    <div class="main-div">
       <span id="name">Any text</span>
        <button id="but1"><img src="src/add.png" width="20px" height="20px"></button>
        <input type="text" class="first-input" placeholder="some text" ><label data-fon="&#9719">&nbsp;</label>
        -
        &nbsp;<input type="text" class="second-input" placeholder="some text"><label data-fon="&#9719">&nbsp;</label>
        <div class="first-day">
            <label class="days">
                <span class="monday">M</span>
                <input type="checkbox" class="checkbox"/>
                <span class="fake"></span>
            </label>
        </div>
        <div class="other-days">
            <label class="days">
                <span class="tuesday">T</span>
                <input type="checkbox" class="checkbox"/>
                <span class="fake"></span>
            </label>
        </div>
        <div class="other-days">
            <label class="days">
                <span class="wednesday">W</span>
                <input type="checkbox" class="checkbox"/>
                <span class="fake"></span>
            </label>
        </div>
        <div class="other-days">
            <label class="days">
                <span class="thursday">T</span>
                <input type="checkbox" class="checkbox"/>
                <span class="fake"></span>
            </label>
        </div>
        <div class="other-days">
            <label class="days">
                <span class="friday">F</span>
                <input type="checkbox" class="checkbox"/>
                <span class="fake"></span>
            </label>
        </div>
        <div class="other-days">
            <label class="days">
                <span class="saturday">S</span>
                <input type="checkbox" class="checkbox"/>
                <span class="fake"></span>
            </label>
        </div>
        <label class="days">
            <span class="sunday">S</span>
            <input type="checkbox" class="checkbox"/>
            <span class="fake"></span>
        </label>
    </div> 

    
    <div class="main-div">
        <button id="but2"><img src="src/del.jpg" width="25px" height="25px"></button>
        <input type="text" class="first-input_" placeholder="some text" ><label data-fon="&#9719">&nbsp;</label>
        -
        &nbsp;<input type="text" class="second-input_" placeholder="some text"><label data-fon="&#9719">&nbsp;</label>
        <div class="first-day">
            <label class="days">
                <span class="monday">M</span>
                <input type="checkbox" class="checkbox"/>
                <span class="fake"></span>
            </label>
        </div>
        <div class="other-days">
            <label class="days">
                <span class="tuesday">T</span>
                <input type="checkbox" class="checkbox"/>
                <span class="fake"></span>
            </label>
        </div>
        <div class="other-days">
            <label class="days">
                <span class="wednesday">W</span>
                <input type="checkbox" class="checkbox"/>
                <span class="fake"></span>
            </label>
        </div>
        <div class="other-days">
            <label class="days">
                <span class="thursday">T</span>
                <input type="checkbox" class="checkbox"/>
                <span class="fake"></span>
            </label>
        </div>
        <div class="other-days">
            <label class="days">
                <span class="friday">F</span>
                <input type="checkbox" class="checkbox"/>
                <span class="fake"></span>
            </label>
        </div>
        <div class="other-days">
            <label class="days">
                <span class="saturday">S</span>
                <input type="checkbox" class="checkbox"/>
                <span class="fake"></span>
            </label>
        </div>
        <label class="days">
            <span class="sunday">S</span>
            <input type="checkbox" class="checkbox"/>
            <span class="fake"></span>
        </label>
    </div> 
    <button class="but">Submit</button>   
</form>

</body>
</html>
