.main-form{
text-align: center;
background-color: rgb(255, 253, 253);
width: 55%;
padding-left: 20%;
position: absolute;
}
.main-text{
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 0;
    background-color: rgb(212, 208, 208);
    color: rgb(3, 3, 97);
}
.txt{
    padding-left: 30%;
}
.main-div{
    padding-bottom: 3%;
    padding-top: 2%;
}
.first-input{
    height: 25px;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(136, 133, 133);
    text-align:center;
    position: relative;
    margin-right: 1%;
}
.second-input {
    height: 25px;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(136, 133, 133);
    text-align:center;
    position: relative;
    margin-left: 1%;
    
}
.error{
text-align: left;
margin-left: 36%;
margin-top: 10px;
display: none;
color: red;
}
.days{
    display: inline-block;
}
.days input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;        
}
.checkbox{
    display: none;
}
.fake{
    border: 1px solid rgb(100, 99, 99);
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: #eee;
    margin-right: 55%;
}
.days input:checked ~ .fake {
    background-color: rgb(47, 202, 23);
  }

  .days input:disabled ~ .fake {
    background-color: rgb(230, 9, 9);
}

.fake:after {
    content: "";
    position: absolute;
    display: none;
  }
.days input:checked ~ .fake:after {
    display: block;
  }
.days .fake:after {
    left: 25%;
    top: -3%;
    width: 2.5px;
    height: 6px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
.other-days{
    display: inline-block;
    margin-right: 1%;
}
.monday{
    display: block;
    margin-left: 50%;
    font-size: 13px;
    margin-bottom: 3px;
}
.tuesday{
    display: block;
    margin-left: 70%;
    font-size: 13px;
    margin-bottom: 3px;
}
.wednesday{
    display: block;
    margin-left: 40%;
    font-size: 13px;
    margin-bottom: 3px;
}
.thursday{
    display: block;
    margin-left: 70%;
    font-size: 13px;
    margin-bottom: 3px;
}
.friday{
    display: block;
    margin-left: 90%;
    font-size: 13px;
    margin-bottom: 3px;
}
.saturday{
    display: block;
    margin-left: 90%;
    font-size: 13px;
    margin-bottom: 3px;
}
.sunday{
    display: block;
    margin-left: 90%;
    font-size: 13px;
    margin-bottom: 3px;
}

#but{
    margin-top: 8%;
    background-color: rgb(3, 3, 63);
    color: white;
    width: 23%;
    height: 35px;
}

.main-form .first-input + label:after{
    content: attr(data-fon);
    position: absolute;
    left: 46%;
    top: 32%;
    color: rgb(196, 190, 190);
}
.main-form .first-input:focus + label:after, .main-form input:hover + label:after {
    color: rgb(18, 6, 128);
}

.main-form .second-input + label:after{
    content: attr(data-fon);
    position: absolute;
    left: 61.7%;
    top: 32%;
    color: rgb(196, 190, 190);
}
.main-form .second-input:focus + label:after, .main-form input:hover + label:after {
    color: rgb(18, 6, 128);
}



#but1 {
   background-color: white;
   border: none;
}

#but2 {
    background-color: white;
    border: none;
    margin-left: 7%;
 }

 #name{
    color: rgb(18, 6, 128);
    font-weight: bold;
}
.add-item{
    text-align: left;
    padding-left: 5%;   
}



#result {
    padding-top: 25px;
}
